.card{
    height: 200px;
    position: relative;
    top: 52px;
    left: -9px;
    width: 662px;
}
.row{
    margin-top: 15px;
}

.container {
  position: absolute;
  top: 150px;
  left: 280px;
}

.shadow {
    background-color: #03A9F4;
}
